<div class="container">

  <div class="row">
      <h1>Borders</h1>
      <p class="lead">Additive. / <a href="https://getbootstrap.com/docs/5.0/utilities/borders/#additive">Go to site.</a></p>

  </div>

  <div class="row">
      <div class="border">.border / full border</div>
  </div>
  <br>
  <div class="row">
      <div class="border-top">.border-top / border up</div>
  </div>
  <br>
  <div class="row">
      <div class="border-end">.border-end / on the right</div>
  </div>
  <br>
  <div class="row">
      <div class="border-bottom">.border-bottom / border down</div>
  </div>
  <br>
  <div class="row">
      <div class="border-start">.border-start / on the left</div>
  </div>

  <br>
  <br>

  <div class="page-header">
      <p class="lead">Border color / <a href="https://getbootstrap.com/docs/5.0/utilities/borders/#border-color">Go to site.</a></p>
  </div>

  <div class="row">
      <div class="col-md-2 border border-primary">.border border-primary</div>
      <div class="col-md-2 border border-secondary">.border border-secondary</div>
      <div class="col-md-2 border border-success">.border border-success</div>
      <div class="col-md-2 border border-danger">.border border-danger</div>
      <div class="col-md-2 border border-warning">.border border-warning</div>
      <div class="col-md-2 border border-info">.border border-info</div>
  </div>

  <div class="row">
      <div class="col-md-8 border border-dark">.border border-light</div>
      <div class="col-md-2 border border-light">.border border-dark</div>
      <div class="col-md-2 border border-white">.border border-white</div>
  </div>

  <br>
  <br>

  <div class="page-header">
      <p class="lead">Border-width / <a href="https://getbootstrap.com/docs/5.0/utilities/borders/#border-width">Go to site.</a></p>
  </div>

  <div class="row">
      <div class="col-md-2 border border-1">border border-1</div>
      <div class="col-md-2 border border border-2">border border-2</div>
      <div class="col-md-4 border border border-3">border border-3</div>
      <div class="col-md-2 border border border-4">border border-4</div>
      <div class="col-md-2 border border border-5">border border-5</div>
  </div>

  <br>
  <br>

  <div class="page-header">
      <p class="lead">Border-radius / CSS animation / <a href="https://getbootstrap.com/docs/5.0/utilities/borders/#border-radius">Go to site.</a></p>
  </div>

  <div class="row">
      <div class="col-md-2 m-1 rounded box">
          rounded
      </div>
      <div class="col-md-2 m-1 rounded-top box">
          rounded-top
      </div>
      <div class="col-md-3 m-1 rounded-end box">
          rounded-end
      </div>
      <div class="col-md-4 m-1 rounded-bottom box">
          rounded-bottom
      </div>
  </div>

  <br>

  <div class="row">
      <div class="col-md-4 m-1 rounded-start box">
          rounded-start
      </div>
      <div class="col-md-3 m-1 rounded-circle box">
          rounded-top
      </div>
      <div class="col-md-4 m-1 rounded-pill box">
          rounded-pill
      </div>
  </div>

  <br>

  <div class="page-header">
      <p class="lead">Border-radius / CSS animation / Sizes / <a href="https://getbootstrap.com/docs/5.0/utilities/borders/#sizes">Go to site.</a></p>
  </div>

  <div class="row p-1">
      <div class="col-md-2 m-1 rounded-0 box">
          rounded-0
      </div>
      <div class="col-md-3 m-1  rounded-1 box">
          rounded-1
      </div>
      <div class="col-md-4 m-1 rounded-2 box">
          rounded-2
      </div>
      <div class="col-md-2 m-1 rounded-3 box">
          rounded-3
      </div>
  </div>

  <br>
  <br>

  <div class="page-header">
      <p class="lead">Grid / Rows / Columns / Basic / <a href="https://getbootstrap.com/docs/5.0/layout/grid/#example">Go to site.</a></p>
  </div>


  <div class="row">
      <div class="col-sm border">
          col-sm border / One of three columns
      </div>
      <div class="col-sm border">
          col-sm border / One of three columns
      </div>
      <div class="col-sm border">
          col-sm border / One of three columns
      </div>
  </div>

  <div class="row">
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
      <div class="col-md-1 border">.col-md-1</div>
  </div>

  <div class="row">
      <div class="col-md-8 border">.col-md-8</div>
      <div class="col-md-4 border">.col-md-4</div>
  </div>

  <div class="row">
      <div class="col-md-4 border">.col-md-4</div>
      <div class="col-md-4 border">.col-md-4</div>
      <div class="col-md-4 border">.col-md-4</div>
  </div>

  <div class="row">
      <div class="col-md-6 border">.col-md-6</div>
      <div class="col-md-6 border">.col-md-6</div>
  </div>

  <br>

  <div class="page-header">
      <p class="lead">Grid / Rows / Columns / Setting one column width / <a href="https://getbootstrap.com/docs/5.0/layout/grid/#setting-one-column-width">Go to site.</a></p>
  </div>

  <div class="row">
      <div class="col border">
          col / 1 of 3
      </div>
      <div class="col-6 border">
          col-6 / 2 of 3 (wider)
      </div>
      <div class="col border">
          col / 3 of 3
      </div>
  </div>
  <div class="row">
      <div class="col border">
          col / 1 of 3
      </div>
      <div class="col-5 border">
          col-5 / 2 of 3 (wider)
      </div>
      <div class="col border">
          col / 3 of 3
      </div>
  </div>

  <br>

  <div class="page-header">
      <p class="lead">Grid / Rows / Columns / Row columns / Rows maxims (for example three) / <a href="https://getbootstrap.com/docs/5.0/layout/grid/#row-columns">Go to site.</a></p>
  </div>

  <div class="row row-cols-3">
      <div class="col border">Column</div>
      <div class="col border">Column</div>
      <div class="col border">Column</div>
      <div class="col border">Column</div>
  </div>

  <br>

  <div class="page-header">
      <p class="lead"> Columns / Horizontal gutters / <a href="https://getbootstrap.com/docs/5.0/layout/gutters/#horizontal-gutters">Go to site.</a></p>
  </div>


  <div class="container px-4">
      <div class="row gx-5">
          <div class="col">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
      </div>
  </div>

  <br>

  <div class="page-header">
      <p class="lead"> Columns / Vertical gutters / <a href="https://getbootstrap.com/docs/5.0/layout/gutters/#vertical-gutters">Go to site.</a></p>
  </div>

  <div class="container overflow-hidden">
      <div class="row gy-5">
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
      </div>
  </div>

  <br>

  <div class="page-header">
      <p class="lead"> Columns / Horizontal & vertical gutters / <a href="https://getbootstrap.com/docs/5.0/layout/gutters/#horizontal--vertical-gutters">Go to site.</a></p>
  </div>

  <div class="container">
      <div class="row g-2">
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
          </div>
      </div>
  </div>

  <br>

  <div class="page-header">
      <p class="lead"> Forms / Overview / <a href="https://getbootstrap.com/docs/5.0/forms/overview/?#overview">Go to site.</a></p>
  </div>

  <form>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <br>

  <div class="page-header">
      <p class="lead"> Floating labels / Basic example / <a href="https://getbootstrap.com/docs/5.0/forms/floating-labels/#example">Go to site.</a></p>
  </div>

  <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
  </div>

  <br>

  <div class="page-header">
      <p class="lead"> Floating labels / Textareas / <a href="https://getbootstrap.com/docs/5.0/forms/floating-labels/#textareas">Go to site.</a></p>
  </div>

  <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Comments</label>
  </div>

  <br>

  <div class="page-header">
      <p class="lead"> Color / Basic example / <a href="https://getbootstrap.com/docs/5.0/forms/form-control/#color">Go to site.</a></p>
  </div>

  <label for="exampleColorInput" class="form-label">Color picker</label>
  <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">

  <br>

  <div class="row">
      <div class="col-md-4">
          <div class="page-header">
              <p class="lead"> Text / Font size / <a href="https://getbootstrap.com/docs/5.0/utilities/text/#font-size">Go to site.</a></p>
          </div>

          <p class="fs-1">.fs-1 text</p>
          <p class="fs-2">.fs-2 text</p>
          <p class="fs-3">.fs-3 text</p>
          <p class="fs-4">.fs-4 text</p>
          <p class="fs-5">.fs-5 text</p>
          <p class="fs-6">.fs-6 text</p>

      </div>

      <div class="col-md-4">
          <div class="page-header">
              <p class="lead"> Text / Text decoration / <a href="https://getbootstrap.com/docs/5.0/utilities/text/#text-decoration">Go to site.</a></p>
          </div>

          <p class="text-decoration-underline">This text has a line underneath it.</p>
          <p class="text-decoration-line-through">This text has a line going through it.</p>
          <a href="#" class="text-decoration-none">This link has its text decoration removed</a>
      </div>

      <div class="col-md-4">
          <div class="page-header">
              <p class="lead"> Badges / Basic example / <a href="https://getbootstrap.com/docs/5.0/components/badge/#example">Go to site.</a></p>
          </div>
          <h1>Example heading <span class="badge bg-secondary">New</span></h1>
          <h2>Example heading <span class="badge bg-secondary">New</span></h2>
          <h3>Example heading <span class="badge bg-secondary">New</span></h3>
          <h4>Example heading <span class="badge bg-secondary">New</span></h4>
          <h5>Example heading <span class="badge bg-secondary">New</span></h5>
          <h6>Example heading <span class="badge bg-secondary">New</span></h6>
      </div>
  </div>

  <br>
  <br>

  <div class="row">
      <div class="col-md-6">
          <div class="page-header">
              <p class="lead"> Cards / Basic example / <a href="https://getbootstrap.com/docs/5.0/components/card/#example">Go to site.</a></p>
          </div>

          <div class="card" style="width: 18rem;">
              <img src="https://raw.githubusercontent.com/JefryPardo/img/master/img1.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
      </div>

      <div class="col-md-6 border">
          <div class="page-header">
              <p class="lead"> Accordion / Basic example / <a href="https://getbootstrap.com/docs/5.0/components/accordion/#example">Go to site.</a></p>
          </div>

          <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Accordion Item #1
                  </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                          though the transition does limit overflow.
                      </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Accordion Item #2
                  </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                          though the transition does limit overflow.
                      </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion Item #3
                  </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                          though the transition does limit overflow.
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <br>
  <br>

  <div class="page-header">
      <p class="lead"> Alerts / Basic examples / <a href="https://getbootstrap.com/docs/5.0/components/alerts/#examples">Go to site.</a></p>
  </div>

  <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
  </div>
  <div class="alert alert-secondary" role="alert">
      A simple secondary alert—check it out!
  </div>
  <div class="alert alert-success" role="alert">
      A simple success alert—check it out!
  </div>
  <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
  </div>
  <div class="alert alert-warning" role="alert">
      A simple warning alert—check it out!
  </div>
  <div class="alert alert-info" role="alert">
      A simple info alert—check it out!
  </div>
  <div class="alert alert-light" role="alert">
      A simple light alert—check it out!
  </div>
  <div class="alert alert-dark" role="alert">
      A simple dark alert—check it out!
  </div>


  <br>


  <div class="container">
      <div class="page-header">
          <p class="lead"> Buttons / Toggle states / <a href="https://getbootstrap.com/docs/5.0/components/buttons/#toggle-states">Go to site.</a></p>
      </div>
      <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Toggle button</button>
      <button type="button" class="btn btn-primary active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Active toggle button</button>
      <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off">Disabled toggle button</button>
  </div>

  <br>
  <br>
  <br>
  <br>
</div>